{% extends 'Base.html' %}
{% load static %}
{% block title %}Our Mission | Well Community Health Care{% endblock %}

{% block body %}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background: linear-gradient(rgb(31, 30, 30), rgba(0, 0, 0, 0.9));">

    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Our Mission</h1>
            
        </div>
    </div>
</div>
<!-- Page Header End -->

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">

<div class="max-w-4xl mx-auto p-6">
    <h1 class="text-3xl font-bold mb-4 text-center">Our Mission</h1>
    <!-- <h2 class="text-xl font-semibold mb-2 text-center">Our Place in the Community</h2> -->
    <!-- <p class="mb-4 text-center">Our mission is to provide the highest quality healthcare with compassionate and accessible service for all.</p> -->
    <p class="mb-4 text-center">
        Our mission at WCC is clear and that is crafting a curated care for our respectable guests. We promise to build and manage services that celebrate the inherent value and abundant abilities of every individual we support. We are dedicated to inspiring and empowering our clients to achieve their aspirations and unlock their full potential. By working closely with you and your loved ones, we craft personalized plans aimed at realistic goals. Our approach is marked by innovation, passion, and a steadfast commitment to delivering genuine and high-quality support services. Our ultimate goal is not only to assist and motivate but to inspire you to pursue your dreams while enriching your lifestyle.
    </p>   
    
    <div class="mb-4 text-center">
        <img src="{% static 'img/qq.jpg' %}" alt="Community Health Care building exterior" class="w-full rounded-lg" />
    </div>
</div>
{% endblock %}
