{% extends 'Base.html' %}
{% load static %}
{% block title %}Request Free Consultation Today | Well Community Health Care{% endblock %}

{% block body %}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background: linear-gradient(rgb(31, 30, 30), rgba(0, 0, 0, 0.9));">

    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Request Free Consultation Today</h1>
            
        </div>
    </div>
</div>
<!-- Page Header End -->


<div class="max-w-4xl mx-auto p-6">
    <h1 class="text-3xl font-bold mb-4 text-center">Request Free Consultation</h1>
    <h2 class="text-xl font-semibold mb-2 text-center">Curious about how we can help you? Request a free consultation today!</h2>
    <!-- <p class="mb-4 text-center">Curious about how we can help you? Request a free consultation today!</p> -->
    <p class="text-xl font-semibold mb-2 text-center">
        "Interested in learning how our services can make a difference in your life? Request a free consultation today! During this no-obligation session, our experienced team will take the time to understand your unique needs and goals. We’ll provide tailored advice on the best care options available and how we can support you in achieving a better quality of life. Whether you have specific questions or just want to explore your options, this consultation is your opportunity to gain valuable insights and plan your next steps with confidence. We're here to help you every step of the way."
    </p>
    
</div>
<!-- Booking Start -->
<div class="container-fluid bg-secondary booking my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 py-5">
                <div class="py-5">
                    <h1 class="text-white mb-4">Certified and Award Winning NDIS Provider</h1>
                    <p class="text-white mb-0">At WCC, we are dedicated to creating a supportive environment where the elderly and disabled receive the care and attention they deserve, guided by our unwavering commitment to empathy and excellence in National Disability Support.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-primary h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
                    <h1 class="text-white mb-4">Book For A Service</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" name="name" placeholder="Your Name" style="height: 55px;" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" name="email" placeholder="Your Email" style="height: 55px;" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select border-0" name="service" style="height: 55px;" required>
                                    <option value="" selected disabled>Select A Service</option>
                                    <option value="Life Stage, Transition">Life Stage, Transition</option>
                                    <option value="Personal Activities">Personal Activities</option>
                                    <option value="Travel/Transport">Travel/Transport</option>
                                    <option value="Assist Access/Maintain Employ">Assist Access/Maintain Employ</option>
                                    <option value="Daily Tasks/Shared Living">Daily Tasks/Shared Living</option>
                                    <option value="Innov Community Participation">Innov Community Participation</option>
                                    <option value="Development-Life Skills">Development-Life Skills</option>
                                    <option value="Household Tasks">Household Tasks</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="text"
                                        class="form-control border-0 datetimepicker-input" name="service_date"
                                        placeholder="Service Date" data-target="#date1" data-toggle="datetimepicker" style="height: 55px;" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" name="special_request" placeholder="Message (optional)" ></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-secondary w-100 py-3" type="submit" style="color: #ffffff;">Book Now</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
{% endblock %}
