{% extends 'Base.html' %}
{% load static %}
{% block title %}Our Vision | Well Community Health Care{% endblock %}

{% block body %}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background: linear-gradient(rgb(31, 30, 30), rgba(0, 0, 0, 0.9));">

    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Our Vision</h1>
            
        </div>
    </div>
</div>
<!-- Page Header End -->

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">

<div class="max-w-4xl mx-auto p-6">  
    <h1 class="text-3xl font-bold mb-4 text-center">Our Vision</h1>
    <p class="mb-4 text-center">
        At WCC, we prioritise only tailored and personalised care services and solution. Our vision is driven by a deep commitment to positively impact the lives of individuals requiring daily living assistance. We strive to optimize independence and foster social inclusion and every community member embraces life.
    </p>
    <div class="mb-4 text-center">
        <img src="{% static 'img/qq.jpg' %}" alt="Community Health Care building exterior" class="w-full rounded-lg" />
    </div>
</div>
{% endblock %}
